
.add-theatre-form {
  background-color: rgba(255, 255, 255, 0.13);
  padding: 2rem;
  border-radius: 8px;
  max-width: 600px;
  margin: 2rem auto;
  border: 1px solid #55999e;
  background-color: rgba(255, 255, 255, 0.13);
  text-align: left;
}

h1 {
  color: white;
}

.add-theatre-form h3 {
  margin-top: 0.8rem;
  margin-bottom: 0.7rem;
  color: rgb(255, 255, 255);
}

.form-field {
  display: flex;
  flex-direction: column;
}

.form-field input {
  padding: 0.5rem 0.75rem;
  border-radius: 8px;
  border: 1px solid #4aa0af;
  font-size: 1rem;
}

.auditoriums-section {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-bottom: 1.2rem;
  margin-top:0.5rem;
}

.auditoriums-section input {
  flex: 1;
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid #4aa0af;
  font-size: 1rem;
}

.btn, .btn-add-auditorium {
  padding: 1rem;
  border-radius: 8px;
  background: linear-gradient(var(--btn-primary-top), var(--btn-primary-bottom));
  color: var(--btn-text-light);
  border: none !important;
  cursor: pointer;
  margin-right: 0.5rem;
  font-size: 1rem;
}
.btn {
  font-size: 1rem !important;
  margin: 1rem 0 !important;
  padding: 1rem !important;
  gap: 1rem !important;
}

.btn-add-auditorium {
    display: flex;
    margin-left: auto;
    margin-right: 0;
    padding: 0.7rem;
    font-size: 0.8rem;
}

.btn:hover, .btn-add-auditorium:hover {
  background: linear-gradient(var(--btn-primary-hover-top), var(--btn-primary-hover-bottom)) !important;
}

.btn-remove {
  background: linear-gradient(var(--btn-danger-top), var(--btn-danger-bottom));
  padding: 0.5rem;
  border-radius: 8px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 0.8rem !important;
}
.edit-theatre-form .btn-remove  {
  padding: 1rem;
  font-size: 1rem !important;
}
.btn-remove:hover {
  background: linear-gradient(var(--btn-danger-hover-top), var(--btn-danger-hover-bottom));
}

button:disabled,
.disabled-btn {
  opacity: 0.7;
  cursor: not-allowed;
  background-color: #66b1bb !important;
}