* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  margin: 0;
  padding: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html, body, #root {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(180deg, #0E3753 0%, #0C1B3A 45%, #09102D 100%);
}

#root {
  display: flex;
  flex-direction: column;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
 
  button {
    background-color: #f9f9f9;
  }
}
