
.manage-staff-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem;
  max-width: 1600px;
  margin: 2rem auto;
  color: white;
  font-family: Arial, sans-serif;
}

.manage-staff-container h2 {
  align-self: flex-start;  
  margin-bottom: 2rem;
  font-size: 2rem;
}
.search-bar {
  margin-bottom: 2rem;
  padding: 0.5rem;
  width: 15%; 
  border-radius: 8px;
  align-self: flex-start;
  background-color: rgba(255, 255, 255, 0.24);
  border: 1px solid rgb(79, 185, 199);
  color: white;
  font-size: 0.9rem;  
}
.search-bar:focus {
  outline: none;
  box-shadow: none;
}
.manage-staff-container h3 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-size: 1.3rem;
}
.staff-management-wrapper {
  display: flex;
  gap: 6rem;
  justify-content: center;
  width: 100%;
}

.staff-form-container {
  flex: 2;               
  min-width: 420px;      
}

.staff-list-container {
  flex: 3;               
  min-width: 700px; 
  max-height: 800px; 
  overflow-y: auto;     
}

.staff-form {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.13);
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid #55999e;
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  max-width: 750px; 
  width: 100%;
}

.staff-form input,
.staff-form select {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #71cfcb;
  font-size: 14px;
  outline: none;
  background-color: #f9f9f9de;
  color: #292929;
  width: 80%;
  box-sizing: border-box;
}

.staff-form button {
  padding: 0.5rem 1rem;
  border-radius: 6px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  width: 80%;
}

.staff-form button {
  background: linear-gradient(to bottom, var(--btn-primary-top), var(--btn-primary-bottom));
  color: var(--btn-text-light);
}
.staff-form button:hover {
  background: linear-gradient(to bottom, var(--btn-primary-hover-top), var(--btn-primary-hover-bottom));
}
.staff-form button.cancel-btn {
  background: linear-gradient(to bottom, var(--btn-danger-top), var(--btn-danger-bottom));
  color: var(--btn-text-light);
  margin-bottom: 2rem;
  margin-top: -1.5rem;
}
.staff-form button.cancel-btn:hover {
  background: linear-gradient(to bottom, var(--btn-danger-hover-top), var(--btn-danger-hover-bottom));
}

.staff-list {
  list-style: none;
  padding: 0;
  width: 100%;
  overflow: auto;
  max-height: 610px;
}

.staff-list li {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0.75rem 1rem;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.8rem;
  transition: 0.2s;
  white-space: normal;      
  overflow-y: hidden;
  overflow-x: hidden;       
}

.staff-list li:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.staff-list li span {
  flex: 1;           
  text-align: left;
}

.staff-list .button-group {
  display: flex;
}

.staff-list button {
  border: none;
  border-radius: 6px;
  padding: 0.3rem 0.7rem;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
  margin-left: 1rem;
}

/* Edit-btn */
.staff-list .button-group button:first-child {
  background: linear-gradient(to bottom, var(--btn-primary-top), var(--btn-primary-bottom));
  color: var(--btn-text-light);
}
.staff-list .button-group button:first-child:hover {
  background: linear-gradient(to bottom, var(--btn-primary-hover-top), var(--btn-primary-hover-bottom));
}

/* Delete-btn */
.staff-list .button-group button:nth-child(2) {
  background: linear-gradient(to bottom, var(--btn-danger-top), var(--btn-danger-bottom));
  color: var(--btn-text-light);
  font-size: 15px;       
  font-weight: bold;
  padding: 0.1rem 0.4rem !important;
}
.staff-list .button-group button:nth-child(2):hover {
  background: linear-gradient(to bottom, var(--btn-danger-hover-top), var(--btn-danger-hover-bottom));
}
.staff-form {
  display: flex;
  gap: 1.2rem;
  flex-wrap: wrap;
  align-items: center;
  min-height: 400px;
}

.staff-form input,
.staff-form select {
  padding: 0.6rem 0.7rem;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #71cfcb;
}
.staff-form select option {
  background-color: white;
  color: #0d2845f8 !important;
}


