.profile-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.profile-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.profile-dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 3rem;
  right: 0;
  background-color: rgba(255, 255, 255, 0.795);
  border: 1px solid #71cfcb;
  box-shadow: inset 2px 3px 8px 4px #2d828b3d;
  border-radius: 5px;
  padding: 1.5rem;
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  z-index: 9999;
}
.profile-dropdown p {
  color: rgb(16, 72, 82) !important;
  margin-bottom: 0.5rem;
}

.profile-dropdown input {
  width: 100%;
  padding: 0.4rem 0.75rem;
  border: 1px solid #71cfcb;
  border-radius: 6px;
  font-size: 12px;
  margin-bottom: 0.5rem;
  outline: none;
  background-color: #f9f9f9;
  color: #292929;
}

.profile-dropdown button {
  padding: 0.5rem 0.75rem;
  border: none;
  margin: 0.5rem;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
}

.profile-dropdown button {
  margin-top: 1rem;
  background: linear-gradient(to bottom, #2fb2b6 10%, #135c66 100%);
  color: white;
}

.logout-btn {
  background: linear-gradient(to bottom, #c20000 10%, rgb(134, 4, 4) 100%) ;
  border-radius: 8px !important;
  padding: 0.5rem !important;
  font-size: 16px !important;
  color: white !important;
  text-decoration: none;
  margin: 0.5rem;
}

.logout-btn:hover {
  background: linear-gradient(to bottom, #b30000 10%, rgb(114, 0, 0) 100%);
  text-decoration: none !important;
} 
