:root{
    --list-background-color:rgba(255, 255, 255, 0.1);
}

.schedule-parent-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 10%;
    gap: 50px;
}

.scheduling-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.scheduling-container button {
    background: linear-gradient(to bottom, #2fb2b6 15%, #135c66 100%);
    border-radius: 12px;
    align-self: center;
    color: white;
    cursor: pointer;
    padding: 1rem 2rem;
    font-size: 1rem;
}
.scheduling-container button:hover {
    background: linear-gradient(to bottom, #289a9e 15%, #155e68 100%);
}
.scheduling-div {
    margin-top: 2rem;
    color: white;
}
.scheduling-div form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    background-color: var(--bg-form);

    padding: 2rem;
    border-radius: 8px;
    max-width: 600px;
    margin: 2rem auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: black;
    flex: 1;
    height: fit-content;
}
.scheduling-div form label {
    display: block;
    margin-bottom: 15px;
    align-self: center;
}
.scheduling-div .submit-button {
    padding: 1rem;
    background: linear-gradient(to bottom, #2fb2b6 15%, #135c66 100%);
    border-radius: 8px;
    color: white;
    cursor: pointer;
}
.scheduling-div .submit-button:hover {
    background: linear-gradient(to bottom, #289a9e 15%, #155e68 100%);
}

.times-container{
    display: flex;
    flex-direction: row;
    gap: 40px;
}


/* SCHEDULING LIST */
.schedule-confirmation-div {
    width: 489px;
}

.change-theater-btn {
    background-color: var(--bg-search);
    padding: 1rem;
    color: white;
    border: 1px solid var(--border-search)
}
.schedule-theaters-cont {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 25px;
    height: 550px;
}
.schedules-cont {
    width: 100%;
    max-height: 100%;
    overflow-y: scroll;
}
.theaters-cont {
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.theaters-cont button {
    color: #292929;
    cursor: pointer;
}
.schedule-list-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    gap: 1rem;
    list-style-type: none;
    margin-top: 25px;
}

.schedule-li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    width: 100%;
    background-color: var(--list-background-color);
    color: white;
    padding: 6px 12px;
    border-radius: 10px;
    border: 1px solid black;
}

.schedule-li button{
    padding: 5px 7.5px;
    background: linear-gradient(to bottom, #c93434 15%, #911c1c 100%);
    color: black;
    border-radius: 10px;
    cursor: pointer;
}
.schedule-li button:hover{
    background: linear-gradient(to bottom, #bd2b2b 15%, #831616 100%);
}