.overlay {
  position: fixed;
  inset: 0;
  width: 90vw; height: 90vh;
  background-color: rgba(1, 5, 22, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.overlay-content {
  background: #a8fcff;
  color: white;
  padding: 4rem;
  border-radius: 8px;
  width: 90%;
  max-width: 800px;
  text-align: center;
  position: relative;
  box-shadow: 0 0 25px rgba(121, 141, 140, 0.5);
}

.close-btn {
  position: absolute;
  top: 5px;
  right: 20px;
  background: none;
  border: none;
  font-size: 1rem;
  color: white;
  cursor: pointer;
}

.seat-map-grid {
  display: grid;
  grid-template-columns: repeat(15, 40px);
  gap: 6px;
  justify-content: center;
  margin-top: 20px;
}

.seat {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.seat.selected {
  background-color: orange;
  color: white;
  cursor: pointer;
}

.seat.available {
  background-color: green;
  color: white;
  cursor: pointer;
}

.seat.reserved {
  background-color: red;
  color: white;
  cursor: not-allowed;
}
