* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  overflow-x: hidden; 
}

.staff-header, .page-container, .staff-main {
  width: 100%;
}
.page-container {
  min-height: 100vh;
  background-color: #0B1E35;
  color: #EAF6FF;
  margin: 0;
}


.staff-main {
  text-align: center;
  padding: 2rem;
  margin-top: 5rem;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  gap: 1.8rem;
  flex-wrap: wrap;
}

.button {
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: #3E7F88;
  color: white;
  font-size: 1rem;
}
